SSB.Service.Core/Web References/com.sahandsms/paymentwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsPaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Invoice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPaidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPaidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsPaidSoapIn">
    <wsdl:part name="parameters" element="tns:IsPaid" />
  </wsdl:message>
  <wsdl:message name="IsPaidSoapOut">
    <wsdl:part name="parameters" element="tns:IsPaidResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentWebServiceSoap">
    <wsdl:operation name="IsPaid">
      <wsdl:input message="tns:IsPaidSoapIn" />
      <wsdl:output message="tns:IsPaidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentWebServiceSoap" type="tns:PaymentWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPaid">
      <soap:operation soapAction="http://tempuri.org/IsPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentWebServiceSoap12" type="tns:PaymentWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPaid">
      <soap12:operation soapAction="http://tempuri.org/IsPaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentWebService">
    <wsdl:port name="PaymentWebServiceSoap" binding="tns:PaymentWebServiceSoap">
      <soap:address location="http://www.sahandsms.com/OnlineCharge/paymentwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentWebServiceSoap12" binding="tns:PaymentWebServiceSoap12">
      <soap12:address location="http://www.sahandsms.com/OnlineCharge/paymentwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>